!!!
%html
  %head
    %title LightsaberPractice
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse
      = link_to "Join the Force!", lightsabers_path, class: "navbar-brand"


    .container
      -flash.each do |name, msg|
        =content_tag :div, msg, class: "alert alert-success"

      = yield
